{% load static %}

{% for product in data %}
<!-- single product -->
<div class="col-lg-4 col-md-6">
    <div class="single-product">
        <a href="{{product.get_absolute_url}}">
        <div>
                <img src="{{product.images.url}}" alt="Loading.....">
            </div>
            <div class="product-details">
                <h6> <strong>{{product.product.product_brand}}</strong><br>
                    {{product.product.product_name}}</h6>
                <div class="price">
                    <h6><strong>₹{{product.offerprice}}</strong> </h6>
                    <h6 class="l-through">₹{{product.product.unit_price}}</h6>
                    <br>
                    <h6 class="text-success">{{product.offer_persentage}}% off</h6>
                </div>
        </a>
        <div class="prd-bottom">

            <a href="" class="social-info">
                <span class="ti-bag"></span>
                <p class="hover-text">add to bag</p>
            </a>
            <a href="" class="social-info">
                <span class="lnr lnr-heart"></span>
                <p class="hover-text">Wishlist</p>
            </a>
            <a href="" class="social-info">
                <span class="lnr lnr-sync"></span>
                <p class="hover-text">compare</p>
            </a>
            <a href="" class="social-info">
                <span class="lnr lnr-move"></span>
                <p class="hover-text">view more</p>
            </a>
        </div>
    </div>
</div>
</div>
<!-- single product -->
{% endfor %}