{% extends "admin_template/base.html" %}
{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/buttons.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/select.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/fixedHeader.bootstrap4.css' %}">

{% endblock %}

{% block pagetitle %} Category List {% endblock %}

{% block navigate %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">category</a></li>
{% endblock %}

{% block content %}



<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <!-- messages section  -->
        {% for message in messages %}
        <div class="message ">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message | safe }}
                <a href="#" class="del-msg">&times;</a>
            </div>
        </div>
        {% endfor %}
        <div class="card-body border-top bg-light mb-2 shadow rounded ">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">ADD NEW</button>
            <a href="{% url 'categoryapp:subcategory' %}" class="btn btn-primary float-right">Subcategory</a>
        </div>
        <div class="tab-regular">
            <div class="tab-content" id="myTabContent7">
                <div class="tab-pane  active" id="profile-justify" role="tabpanel"
                    aria-labelledby="profile-tab-justify">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <!-- include table -->
                                        {% include 'admin_template/categories/category/list_category.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- include add.html  -->
    {% include 'admin_template/categories/category/add.html' %}
</div>

{% endblock %}


{% block script %}

<script>
    function deleteUser(id) {

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url "categoryapp:delete_category" %}',
                    data: {
                        'id': id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.deleted) {
                            $("#categoryTable #category-" + id).remove();
                            Swal.fire({
                                icon: 'success',
                                title: 'Delete Success fully',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    }
                });
            }
        })

    }






    function checkbox(id) {
        $.ajax({
            url: '{% url "categoryapp:active_category" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.status) {
                    Swal.fire({
                        // position: 'top-end',
                        icon: 'success',
                        title: 'Active Success fully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else {
                    Swal.fire({
                        // position: 'top-end',
                        icon: 'success',
                        title: 'Deactivate Success fully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        });

    }
</script>

{% endblock %}